/* ACE editor */
.ace-cerebro {
  border: 1px solid #55595c;
  min-height: 580px;
  height: 580px;
}

.ace-result {
  border: 1px solid #55595c;
  min-height: 647px;
  height: 647px;
  /* overflow: auto;
   display: block;*/
}
