<!--
<script type="text/ng-template" id="customTemplate.html">
  <a>
    <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>

<script type="text/ng-template" id="customPopupTemplate.html">
  <div class="custom-popup-wrapper"
       ng-style="{top: position().top+'px', left: position().left+'px'}"
       style="display: block;">
    <ul class="dropdown-menu typeahead" role="listbox">
      <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
          ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
        <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
      </li>
    </ul>
  </div>
</script>
-->
<div class="alerts alert-block">
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">

    </button>
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <div class="row">
      <label class="col-lg-10 col-md-9 typeahead-demo form-group">
        <input type="text"
               [(ngModel)]="path"
               class="form-control form-control-sm"
               placeholder="path (eg: indexName/_search)">
      </label>
      <label class="col-lg-2 col-md-3 form-group">
        <select [(ngModel)]="method" class="form-control">
          <option *ngFor="let md of ['GET','PUT','POST','DELETE']" [ngValue]="md"
                  [selected]="method===md">{{md}}</option>
        </select>
      </label>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a data-toggle="collapse" data-parent="#restAccordion" target="_self" href="#restHistory">
          <i class="fa fa-history"></i> previous requests
        </a>
      </div>
      <div class="col-xs-12 panel-collapse collapse" id="restHistory" ng-show="history.length">
        <a data-toggle="collapse" data-parent="#restAccordion" target="_self" href="#restHistory">
        <span>
          <!--<table class="table table-condensed">
            <tr ng-repeat="h in history" class="normal-action" ng-click="loadRequest(h)">
              <td style="width: 100px">{{h.created_at}}</td>
              <td style="width: 60px">{{h.method}}</td>
              <td>{{h.path}}</td>
            </tr>
          </table>-->
        </span>
        </a>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-12">
        <ace class="ace-cerebro"
             [config]="argsOptions"
             [(value)]="args">
        </ace>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-12 text-right">
        <div class="btn-group">
          <button type="submit" class="btn btn-default" ng-click="copyAsCURLCommand()">
            <i class="fa fa-clipboard"></i> curl
          </button>
        </div>
        <div class="btn-group">
          <button type="submit" class="btn btn-default" (click)="format()">
            <i class="fa fa-align-left"></i> format
          </button>
        </div>
        <div class="btn-group">
          <button type="submit" class="btn btn-success" (click)="execute()">
            <i class="fa fa-bolt"></i> send
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <ace class="ace-result" [config]="resultOptions" [(value)]="result">
    </ace>
  </div>
</div>
