<div class="row">
    <div class="col-md-2 text-center stats">
       <span class="stat">
          <span class="stat-value">
           {{cluster.cluster_name}}
          </span>
       </span>
    </div>
    <div class="col-md-2 text-center stats">
        <span class="stat">
          <span class="stat-value">
           {{cluster.number_of_nodes}}
          </span>
          <span class="stat-value">
              nodes
          </span>
       </span>
    </div>
    <div class="col-md-2 text-center stats">
        <span class="stat">
          <span class="stat-value">
           {{cluster.indices}}
          </span>
          <span class="stat-value">
              indices
          </span>
       </span>
    </div>
    <div class="col-md-2 text-center stats">
        <span class="stat">
          <span class="stat-value">
             {{cluster.shards}}
          </span>
          <span class="stat-value">
             shards
          </span>
       </span>
    </div>
    <div class="col-md-2 text-center stats">
        <span class="stat">
          <span class="stat-value">
                {{cluster.docs}}
          </span>
           <span class="stat-value">
               docs
          </span>
       </span>
    </div>
    <div class="col-md-2 text-center stats">
        <span class="stat">
          <span class="stat-value">
           {{cluster.size| bytes}}
          </span>
       </span>
    </div>
</div>
