<div class="login-container">
  <app-logo></app-logo>
  <form class="login-container" [formGroup]="loginForm" (ngSubmit)="authorize()">
    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" name="username" type="text" formControlName="username" class="form-control form-control-sm"
             placeholder="admin">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" name="password" type="password" formControlName="password"
             class="form-control form-control-sm">
    </div>
    <button type="submit" class="btn btn-success pull-right" [disabled]="!loginForm.valid">
      Authenticate
    </button>
  </form>
</div>

