<div class="login-container">
  <app-logo></app-logo>
  <form class="login-container">
    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" name="username" type="text" [(ngModel)]="username" class="form-control form-control-sm"
             placeholder="admin" required (click)="authorize()">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" name="password" type="password" [(ngModel)]="password" class="form-control form-control-sm"
             placeholder="password" required (click)="authorize()">
    </div>
    <button type="submit" class="btn btn-success pull-right" (click)="authorize()">
      Authenticate
    </button>
  </form>
</div>

