<nav class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-{{status}}">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="navbar-brand" src="assets/img/favicon.png" alt="cerebro" title="cerebro">
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li routerLink="/dashboard/overview" routerLinkActive="active">
          <a class="nav-item nav-link"><i class="fa fa-sitemap"></i> overview</a>
        </li>
        <li routerLink="/dashboard/nodes" routerLinkActive="active">
          <a class="nav-item nav-link"><i class="fa fa-server"></i> nodes</a>
        </li>
        <li routerLink="/dashboard/rest" routerLinkActive="active">
          <a class="nav-item nav-link"><i class="fa fa-edit"></i> rest</a>
        </li>
        <li class="dropdown">
          <a target="_self" class="dropdown-toggle"
             data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-magic"></i> more <i class="fa fa-fw fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li routerLink="/dashboard/rest" routerLinkActive="active">
              <a class="nav-item nav-link">
                <i class="fa fa-file-o"></i> create index
              </a>
            </li>
            <li>
              <a class="nav-item nav-link">
                <i class="fa fa-cogs"></i> cluster settings
              </a>
            </li>
            <li>
              <a class="nav-item nav-link">
                <i class="fa fa-tags"></i> aliases
              </a>
            </li>
            <li>
              <a class="nav-item nav-link">
                <i class="fa fa-puzzle-piece"></i> analysis
              </a>
            </li>
            <li>
              <a class="nav-item nav-link">
                <i class="fa fa-book"></i> index templates
              </a>
            </li>
            <li>
              <a class="nav-item nav-link">
                <i class="fa fa-database"></i> repositories
              </a>
            </li>
            <li>
              <a class="nav-item nav-link">
                <i class="fa fa-camera"></i> snapshot
              </a>
            </li>
            <li>
              <a class="nav-item nav-link">
                <i class="fa fa-list"></i> cat apis
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--<li>
          <a target="_self" href="#" data-toggle="dropdown" class="dropdown-toggle">
            <i class="fa fa-fw fa-refresh"></i> {{refreshInterval | timeInterval}} <i
            class="fa fa-fw fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu" style="min-width: 60px;">
            <li ng-repeat="i in [5000, 10000, 15000, 30000, 60000] track by $index">
              <a class="nav-item nav-link" ng-click="setRefreshInterval(i)">
                {{i | timeInterval}}
              </a>
            </li>
          </ul>
        </li>-->
        <li class="hidden-xs">
          <a class="nav-item nav-link">
            <span>{{host}} [{{status}}]</span>
          </a>
        </li>
        <li>
          <a class="nav-item nav-link hidden-xs" ng-click="disconnect()">
            <i class="fa fa-plug"></i>
          </a>
        </li>
        <li>
          <form action="auth/logout" method="POST" ng-show="username">
            <button class="btn btn-lg btn-link" type="submit">
              <i class="fa fa-power-off"></i>
            </button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
