<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 form-group">
    <input type="text" ng-model="filter.name"
           class="form-control form-control-sm"
           placeholder="filter nodes by name">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 noselect">
    <div class="checkbox">
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="filter.master">
        <i class="fa fa-star"></i> master
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="filter.data">
        <i class="fa fa-hdd-o"></i> data
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="filter.ingest">
        <i class="fa fa-crop"></i> ingest
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="filter.coordinating">
        <i class="fa fa-crosshairs"></i> coordinating
      </label>
    </div>
  </div>
</div>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>
      name
      <!--       <ng-sort-by property="name" text="name"></ng-sort-by>-->
    </th>
    <th>
      load
      <!--       <ng-sort-by property="cpu.load" text="load"></ng-sort-by>-->
    </th>
    <th>
      process cpu %
      <!--       <ng-sort-by property="cpu.process" text="process cpu %"></ng-sort-by>-->
    </th>
    <th>
      heap usage %
      <!--       <ng-sort-by property="heap.percent" text="heap usage %"></ng-sort-by>-->
    </th>
    <th>
      disk usage %
      <!--       <ng-sort-by property="disk.percent" text="disk usage %"></ng-sort-by>-->
    </th>
    <th>
      uptime
      <!--       <ng-sort-by property="uptime" text="uptime"></ng-sort-by>-->
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let node of nodes">
    <td>
      <div class="row">
        <div class="col-lg-12">
          <div class="node-badges title">
            <div *ngIf="node.master">
              <i *ngIf="node.current_master" class="fa fa-fw fa-star" title="current master"></i>
              <i *ngIf="!node.current_master" class="fa fa-fw fa-star-o" title="master eligible"></i>
            </div>
            <div *ngIf="node.data">
              <i class="fa fa-fw fa-hdd-o" title="data node"></i>
            </div>
            <div *ngIf="node.coordinating">
              <i class="fa fa-fw fa-crosshairs" title="coordinating node"></i>
            </div>
            <div *ngIf="node.ingest">
              <i class="fa fa-fw fa-crop" title="ingest node"></i>
            </div>
          </div>
          <div class="node-info">
            <div class="title">
                  <span>
                    {{node.name}}
                  </span>
            </div>
            <div>
              <small>{{node.host}}</small>
            </div>
          </div>
        </div>
      </div>

      <div class="node-labels">
        <span class="label label-primary" style="margin-right: 5px;" *ngIf="node.jvm">JVM: {{node.jvm}}</span>
        <span class="label label-primary">ES: {{node.version}}</span>
      </div>
    </td>
    <td>
      <div>
        <span class="main-stat">{{node.cpu.load}}</span>
      </div>
    </td>
    <td>
      <div>
        <span class="main-stat">{{node.cpu.process}}%</span>
        <div class="detail-stat">
          <div>os cpu: {{node.cpu.os}}%</div>
        </div>
      </div>
    </td>
    <td>
      <div>
        <span class="main-stat">{{node.heap.percent}}%</span>
        <div class="detail-stat">
          <div>used: {{node.heap.used|bytes}}</div>
          <div>max: {{node.heap.max|bytes}}</div>
        </div>
      </div>
    </td>
    <td>
      <div *ngIf="node.disk">
        <span class="main-stat">{{node.disk.percent}}%</span>
        <div class="detail-stat">
          <div>available: {{node.disk.avail | bytes}}</div>
          <div>total: {{node.disk.total | bytes}}</div>
        </div>
      </div>
      <div class="empty-stat" *ngIf="!node.disk">
        -
      </div>
    </td>
    <td>
      <div>
        <span class="main-stat">{{node.uptime | timeInterval}}</span>
      </div>
    </td>
  </tr>
  </tbody>
</table>
