/* You can add global styles to this file, and also import other style files */
@import "./assets/css/bootstrap.min.css";

body {
  padding-top: 50px;
  font-weight: normal;
}

/*table*/
table tr td:hover, td.active {
  color: #333333;
  background-color: white;
  font-weight: bold;
}
