/* You can add global styles to this file, and also import other style files */
@import "./assets/css/bootstrap.min.css";

body {
  padding-top: 50px;
  font-weight: normal;
}

.content {
  padding-top: 20px;
  padding-bottom: 10px;
  height: 100%;
  min-height: 100%;
}
